<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="me-2" aria-hidden="true"><Icon Name="IconName.CalculatorFill" Size="IconSize.x5" Color="IconColor.Light" /></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="me-2" aria-hidden="true"><Icon  Name="IconName.CloudLightningRainFill" Size="IconSize.x5" Color="IconColor.Light" /></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="urlap">
                <span class="me-2" aria-hidden="true"><Icon Name="IconName.ListCheck" Size="IconSize.x5" Color="IconColor.Light" /></span> Űrlap
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="urlap2">
                <span class="me-2" aria-hidden="true"><Icon Name="IconName.ListCheck" Size="IconSize.x5" Color="IconColor.Light" /></span> Űrlap EditFormm
            </NavLink>
        </div>
    </nav>
</div>

